{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='{% static 'post/main.css' %}'>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Shop</title>
    {% endif %}

</head>

<body>

    <nav>
        <div class="name">
            <a href="{% url 'post-list-page' %}">
                <h1> Shop </h1>
            </a>
        </div>

        <div class="pages">

            <div class="pages_text">

                <a href="#login">Login</a>
                <a href='#'>Register</a>

            </div>
        </div>
    </nav>

    <div class="main-content">
        <div class="messages">
        {% if messages %}
            {% for message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        </div>

        {% block content %}{% endblock content %}
    </div>

</body>

</html>