{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/users/login_style.css" rel="stylesheet">
    <title>Shop</title>
</head>

<body>
    <div class='content-section'>
        <form method="POST">
            
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Join Today </legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="submit" type="submit" value="Submit">Submit</button>
            </div>
        </form>

        <div class="already">
            <small class="already-text">
                Already have an Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>  
            </small>
        </div>

    </div>

</body>
</html>

<style>


</style>

